@use '../../styles/vars';
@use 'sass:color';

.portfolio{
  background-color: vars.$background-color;
  // border-top: 5px solid vars.$primary-color;
  // border-bottom: 5px solid vars.$primary-color;
  box-shadow: 0 0 5px black;
  padding: vars.$gutter;
  @media (max-width: 425px) {
    padding: vars.$gutter*0.2;
  }

  &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &-link{
    width: 100%;
    text-align: center;
    padding: vars.$gutter*2 0 vars.$gutter;
    @media (max-width: 768px) {
      padding: vars.$gutter*2 0;
    }
  }

  &-card{
    width: 400px;
    margin: vars.$gutter*2 auto;
    box-shadow: 1px 2px 2px 3px rgba(143, 142, 142, 0.4);
    
    
    &-title{
      font-family: 'Russo One', sans-serif;
      font-size: vars.$gutter*1.3;
      text-transform: uppercase;
      text-align: center;
      padding: vars.$gutter*0.8;
      @media (max-width: 425px) {
        font-size: vars.$gutter*1.1;
      }
    }

    &-image{
      width: 100%;
      height: 200px;
    }

    &-article{
      text-align: center;
      line-height: 1.2;
      &-description{
        font-size: vars.$gutter*1.1;
        padding: vars.$gutter*0.8;
      }
      &-tech{
        font-size: vars.$gutter;
        font-weight: bold;
        color: vars.$link-color;
        padding: vars.$gutter*0.8;
      }
    }

    &-links{
      &-code{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
      }
      &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: vars.$gutter*1.1;
        font-weight: bold;
        padding: vars.$gutter*0.8 0;
        background-color: vars.$background-color;
        color: vars.$primary-color;
        &:hover{
          color: vars.$background-color;
          background-color: vars.$primary-color;
          fill: vars.$background-color;
        }
        @media (max-width: 425px) {
          font-size: vars.$gutter;
        }
        & span{
          margin-left: vars.$gutter*0.5;
        }
      }
      &-open{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: vars.$gutter*0.8;
        font-weight: bold;
        font-size: vars.$gutter*1.1;
        &:hover{
          background-color: vars.$primary-color;
          color: vars.$background-color;
          cursor: pointer;
          fill: vars.$background-color;
        }

        & svg {
          margin-left: vars.$gutter;
        }
      }
    }
  }
}


// links not available
.off {
  color: #999;
  fill: #999;
  &:hover{
    background-color: vars.$background-color;
    color: #999;
    cursor: not-allowed;
    fill: #999;
  }
}