@use '../../styles/vars';
@use 'sass:color';

.wrapper{
  display: flex;
  justify-content: center;
  color: vars.$primary-color;
}

.app{
  max-width: 1300px;
  width: 100%;
  margin: 0 vars.$gutter*2;
  @media(max-width:425px){
    margin: 0 vars.$gutter*0.5;
  }
}

.separation{
  padding-top: vars.$gutter*10;
  display: block;
  float: none;
  @media (max-width: 769px) {
    padding-top: vars.$gutter*5;
  }
}

.menu-icon{
  width: 30px;
}

.navbar-icon{
  width: 30px;
  margin-right: vars.$gutter;
}

.part{
  &-title{
    font-size: vars.$gutter*2;
    margin: 0 vars.$gutter*2;
    font-family: 'Russo One', sans-serif;
    padding: vars.$gutter 0 ;
    display: flex;
    align-items: center;
    @media (max-width: 426px) {
      font-size: vars.$gutter*1.8;
      margin: 0 vars.$gutter;
    }
  }
  &-subtitle{
    font-size: vars.$gutter*1.3;
    margin: 0 vars.$gutter*2;
    padding-bottom: vars.$gutter*2;
    @media (max-width: 426px) {
      font-size: vars.$gutter*1.1;
      text-align: justify;
      margin: 0 vars.$gutter;
    }
  }
}

.title-img{
  margin-right: vars.$gutter*1.5;
}

.border{
  border-right: 1px solid #999;
}

.em{
  font-weight: bold;
}

.link{
  font-size: vars.$gutter*1.1;
  font-weight: bold;
  border: 3px solid vars.$link-alt;
  border-radius: 15px;
  padding: vars.$gutter*0.6;
  color: vars.$background-color;
  background-color: vars.$link-alt;
  transition: transform 150ms ease-in-out;
  &:hover{
    color: vars.$link-alt;
    background-color: vars.$background-color;
    transform: translateY(-3px);
  }
  @media (max-width: 426px) {
    font-size: vars.$gutter;
  }
}