@use '../../styles/vars';
@use 'sass:color';

.top-separation{
  padding-top: vars.$gutter*7;
}

.home{
  padding-top: vars.$gutter*6.5;
  background-color: vars.$background-color;
  // border-top: 5px solid vars.$primary-color;
  // border-bottom: 5px solid vars.$primary-color;
  box-shadow: 0 0 5px black;
  padding: vars.$gutter;
  //text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  &-picture{
    max-width: 400px;
    border-radius: 50%;
    margin: vars.$gutter*4;
    border: 5px solid black;
  }
  &-text{
    padding: vars.$gutter*1.5;
  }
  &-title{
    font-size: vars.$gutter*3;
    font-weight: bold;
    letter-spacing: 1px;
    padding: vars.$gutter*1.5 0;
    
    font-family: 'Russo One', sans-serif;
    background: -webkit-linear-gradient(45deg, vars.$link-color, vars.$link-alt);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-subtitle{
    font-size: vars.$gutter*2;
    &--top{
      padding-top: vars.$gutter*2;
      font-weight: bold;
      font-size: vars.$gutter*2.5;
    }
  }

  &-links{
    display: flex;
    align-items: baseline;
    @media (max-width: 768px) {
      justify-content: space-between;
    }
    @media (max-width: 426px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }

  &-link{
    padding: vars.$gutter*2 0;
    @media (max-width: 426px) {
      padding: 0;
    }
    &-item{
      margin-right: vars.$gutter;
      &:hover{
        fill: vars.$link-alt;
      }
    }
  }
  
  &-cv{
    height: vars.$gutter*3;
    display: inline-block;
    color: vars.$primary-color;
    border: 2px solid vars.$primary-color;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    margin-left: vars.$gutter*2;
    @media (max-width: 426px) {
      margin-left: 0;
    }
    &-button{
      &-primary, &-secondary{
        display: block;
        padding: 0 vars.$gutter;
        line-height: vars.$gutter*3;
        transition: margin .4s;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      &-primary{
        background-color: vars.$background-color;
      }
      &-secondary{
        background-color: vars.$primary-color;
        color: vars.$background-color;
      }
      &-icon{
      margin-right: vars.$gutter*0.8;
      }
    }
    &:hover &-button-primary{
      margin-top: - (vars.$gutter*3);
    }
  }

  @media (max-width: 1300px) {
    &-picture{
      max-width: 300px;
      border-radius: 50%;
      margin: vars.$gutter*2;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    text-align: center;
    &-subtitle--bottom{
      padding-bottom: vars.$gutter*1.5;
    }
    &-picture{
      max-width: 300px;
    }
    &-cv{
      margin-bottom: vars.$gutter*2;
    }
  }

  @media (max-width: 426px) {
    &-picture{
      max-width: 200px;
      margin: vars.$gutter;
    }
    &-text{
      padding: 0;
    }
    &-title{
      font-size: vars.$gutter*2.2;
    }
    &-subtitle{
      font-size: vars.$gutter*1.5;
      &--top{
        font-size: vars.$gutter*1.8;
      }
    }
    &-description{
      font-size: vars.$gutter*1.2;
    }
  }
}